<h1>Welcome to CourseCube!!!</h1>
<hr/>
<h2>Using Event Binding</h2>
<button (click)="showMessage1()">Click Here</button>
<button (click)="showMessage2('Srinivas','sri@cc.com')">Click Here</button>
<hr/>

<h2>Using Properties / String Interpolation</h2>
<table>
  <tr>
    <td>Course Name </td> 
    <td>{{cname}}</td>
  </tr>
  <tr>
    <td>Cost</td> 
    <td>{{cost}}</td>
  </tr>
  <tr>
    <td>Trainer Name</td>
    <td>{{trainer}}</td>
  </tr>
  <tr>
    <td>Start Date</td> 
    <td>{{startDate}}</td>
  </tr><tr>
    <td>Is Online Class</td> 
    <td>{{isOnline}}</td>
  </tr>
</table>

<hr/>
<h2>Using Objects</h2>
<table>
  <tr>
    <td>Course Name </td> 
    <td>{{course.cname}}</td>
  </tr>
  <tr>
    <td>Cost</td> 
    <td>{{course.cost}}</td>
  </tr>
  <tr>
    <td>Trainer Name</td>
    <td>{{course.trainer}}</td>
  </tr>
  <tr>
    <td>Start Date</td> 
    <td>{{course.duration}}</td>
  </tr>
</table>
<hr/>
<h2>Using Arrays</h2>
<ul>
  <ol *ngFor="let cou of courseNames">
    {{cou}}
  </ol>
</ul>
<hr/>
<h2>Using Lists</h2>
<table>
  <tr>
    <th>Course Name</th>
    <th>Cost</th>
    <th>Trainer Name</th>
    <th>Duration</th>
  </tr>
  <tr *ngFor="let mycou of mycourses">
  <td>{{mycou.cname}}</td>
  <td>{{mycou.cost}}</td>
  <td>{{mycou.trainer}}</td>
  <td>{{mycou.duration}}</td>
  <td>
    <button (click)="getCoursesInfo(mycou)">View Data</button>
  </td>
</tr>
</table>
<hr>